{% extends 'page/layout.html' %}

{% block body %}
<h1>Edit page</h1>
<h2>Edditing {{dict.name}}</h2>
<p>edditing</p>
<form action="{% url 'edit' name=dict.name %}" method="post">
{% for pair  in pairs %}
<input type="text" name="st" id="{{pair.id}}" value="{{pair.statement}}">
<input type="text" name="dic" id="{{pair.id}}" value="{{pair.definition}}">
<br>
<p></p>
{% endfor %}

<input type="text" name="st" id="{{pairs.length}}" value="" placeholder="new statement">
<input type="text" name="dic" id="{{pairs|length}}" value="" placeholder="new definition">
<br>

{% csrf_token %}
<input type="submit" value="Save">
</form>
{% endblock %}