{% extends 'page/layout.html' %}

{% block body %}
<h1>Edit page</h1>
<h2>Edditing {{dict.name}}</h2>
<p>edditing</p>
<form action="{% url 'edit' name=dict.name %}" method="post">
{% for pair  in pairs %}
<input type="text" name="st" id="{{pair.id}}" value="{{pair.statement}}">
<input type="text" name="de" id="{{pair.id}}" value="{{pair.definition}}">
<br>
<p></p>
{% endfor %}

<input type="text" name="st" id="last_st" value="" placeholder="new statement">
<input type="text" name="de" id="last_de" value="" placeholder="new definition">
<br>

{% csrf_token %}
<input id="submit" type="submit" value="Save">
</form>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{

        document.querySelector('#last_de').onkeyup = ()=>{
            if(document.querySelector('#last_de').value.length > 0 && document.querySelector('#last_st').value.length > 0){
                const st_in = document.createElement('input');
                const de_in = document.createElement('input');
                st_in.placeholder = "new statement"
                de_in.placeholder = "new definition"

                document.querySelector('#last_de').id = ""
                document.querySelector('#last_st').id = ""

                st_in.id = "last_st"
                de_in.id = "last_de"
                
                const sub = document.createElement('input')
                sub.type = "submit"
                sub.value = "submit"
                sub.id = "submit"
                //document.querySelector('form').append(sub)
                //document.querySelector('form').append(st_in)
                //document.querySelector('form').append(de_in)
                
        }
        }
    })
</script>
{% endblock %}