{% extends 'page/layout.html' %}

{% block body %}
<h1>{{dict}} cards</h1>

{% if not pairs %}
<h2>Empty lecture</h2>
{% endif %}

{% for pair in pairs %}

<button  id="{{pair.id}}">

<div class="card" style="width: 18rem; height: 18rem;">
    <div class="card-body">
      <h2 class="card-title" id="text-{{pair.id}}">{{pair.statement}}</h5>
    </div>
  </div>

</button>
<p></p>
<br>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', () => {

        {% for pair in pairs %}
        document.getElementById('{{pair.id}}').onclick = function(){
            text = document.getElementById("text-{{pair.id}}")
            console.log("{{pair.id}}")
            if (text.innerHTML === "{{pair.statement}}"){
                text.innerHTML = "{{pair.definition}}" 
            }else{
                text.innerHTML = "{{pair.statement}}"
            }
        }
        {% endfor %}
    });
</script>
{% endblock %}